body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 60px;
    background-color: #f8f8f8; 
    padding: 0 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 6px;
    font-size: 14px;
    letter-spacing: .1em;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #007bff;
}
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}

div {
    text-align: center;
}

.logo a {
    color: #33cc33;
}